# Include specific JSON files but exclude others
*.json
!config.json

!grokkoliCore/AppResources/Assets.xcassets
!grokkoliCore/AppResources/Assets.xcassets/**
!grokkoliCore/AppResources/Preview\ Assets.xcassets
!grokkoliCore/AppResources/Preview\ Assets.xcassets/**

!Tests/APITests/UtilsAPI/jsonData/validUserData.json
!Tests/APITests/UtilsAPI/jsonData/invalidUserData.json

# Ignore configuration files
*.config
*.env
secret-*.json
.env.*

# Ignore log files
*.log

# Ignore temporary or backup files
*.tmp
*~
*.bak

# MacOS System Files
.DS_Store
com.apple.spotlight.*

# Xcode Specific Files
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
DerivedData/
build/

# Ignore all .xcworkspace files
*.xcworkspace

# Except for contents.xcworkspacedata
!*.xcworkspace/contents.xcworkspacedata

# Ignore user-specific data within .xcworkspace
*.xcworkspace/xcuserdata/
*.xcuserstate

# Build Artifacts
*.ipa
*.app
*.dSYM

# Carthage/CocoaPods Files
Carthage/Build/
Carthage/Checkouts/
Pods/

# Swift Package Manager Build Artifacts
.build/

# Project-specific directories
/logs/
/temp/
*.txt
temp/

# Shared Xcode Schemes
*.xcscheme
xcshareddata/



# But include JSON files in Assets.xcassets and Preview Assets.xcassets
!AppResources/Assets.xcassets/**/*.json
!AppResources/Preview\ Assets.xcassets/**/*.json

*.xcscheme
xcshareddata/

